
header h1 {
    text-align: center;
    margin-bottom: 20px;

}
.info{
    /* background-color: red; */
    margin-left: 5%;
    margin-top: 10%;
    width: 50%;
}
.info img {
    width: 60%;
    margin-left: 120%;
    margin-top: -15%;
}

p{
    margin-left: 3%;
}
